.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
.nav-item{
    font-size: 30px
}
h1{
    text-align:center;
    font-size:6rem;
    font-family: Georgia, serif,Times, serif;
}
.center{
    text-align:center;
}
.unit{
   width:120px;
   margin:7px;
}
.input{
    font-size:40px
}
.btn{
    font-size:25px;
    margin:15px 7px
}
.size{
    font-size:30px;
}
h2{
    font-size:4rem;
    font-family: Georgia, serif,Times, serif;
}
.table-bordered{
    border:1px;
}
p,td,tr{
    font-size:18px;
    font-family: Georgia, serif,Times, serif;
}
.card{
    margin-top: 50px;
}
.wicked{
    width:25px;
}